### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#Finding the number of different schools in the list
school_list = school_data_complete["school_name"].unique()

#Counting the number of schools
school_count = 0
for school in school_list:
    school_count += 1

#Counting the number of students
total_students = school_data_complete["student_name"].count()

#Summing up the total budgets of the schools (Assumes no two schools have the same budget.)
total_budget = school_data_complete["budget"].unique().sum()
total_budget = "${:,.0f}".format(total_budget)
#Computing and storing the mean reading and math scores
avg_math_score = school_data_complete["math_score"].mean()
avg_read_score = school_data_complete["reading_score"].mean()

#Need to find way to fix formatting and add commas and $ for total budget

#Creating new df with only passing subsets included
both_pass_df = school_data_complete.loc[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70),["student_name"]]
read_only_df = school_data_complete.loc[school_data_complete["reading_score"]>=70, ["student_name"]]
math_only_df = school_data_complete.loc[school_data_complete["math_score"]>=70, ["student_name"]]

#Counting passing students
both_count =  both_pass_df.count()
read_only = read_only_df.count()
math_only = math_only_df.count()

#Computing the percentage of students who passed for the district
percent_both = int(both_count)/total_students*100
percent_read = int(read_only)/total_students*100
percent_math = int(math_only)/total_students*100

#Formatting Total Students
total_students = "{:,}".format(total_students)

#Creating district summary data frame.
district_summary = pd.DataFrame(
    {"Total Schools": [school_count],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_read_score],
     "% Passing Math": [percent_math],
     "% Passing Reading": [percent_read],
     "% Overall Passing": [percent_both]
    }
)

#Showing the district summary in the output
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
#Creating empty lists
school_type = []
total_school_pop = []
school_budget = []
per_student_budget = []
school_avg_math = []
school_avg_read = []
school_per_math = []
school_per_read = []
school_per_over = []

#Looping through subset school data frames and appending data for each school to the correct list.
for school in school_list:
    school_df = school_data_complete[school_data_complete["school_name"]==str(school)]
    school_type_list = school_df["type"].values.tolist()
    school_type.append(school_type_list[0])
    total_school_pop.append(school_df["student_name"].count())
    school_budget_list = school_df["budget"].values.tolist()
    school_budget_item = "${:,.0f}".format(school_budget_list[0])
    school_budget.append(school_budget_item)
    per_student_item = float(school_budget_list[0])/school_df["student_name"].count()
    per_student_item = "${:,.2f}".format(per_student_item)
    per_student_budget.append(per_student_item)
    school_avg_math.append(school_df["math_score"].mean())
    school_avg_read.append(school_df["reading_score"].mean())

    #Creating new df for each school with only passing subsets included
    both_pass_df = school_df.loc[(school_df["reading_score"]>=70) & (school_df["math_score"]>=70),["student_name"]]
    read_only_df = school_df.loc[school_df["reading_score"]>=70, ["student_name"]]
    math_only_df = school_df.loc[school_df["math_score"]>=70, ["student_name"]]

    #Counting passing students
    both_count =  both_pass_df.count()
    read_only = read_only_df.count()
    math_only = math_only_df.count()

    #Computing passing percentages and appending them to the correct list
    school_per_over.append(int(both_count)/school_df["student_name"].count()*100)
    school_per_read.append(int(read_only)/school_df["student_name"].count()*100)
    school_per_math.append(int(math_only)/school_df["student_name"].count()*100)

#Creating a new summary data frame using a dictionary of the school data lists.
school_summary_df = pd.DataFrame(
    {"School Name": school_list,
    "School Type": school_type,
    "Total Students": total_school_pop,
    "Total School Budget": school_budget,
    "Per Student Budget": per_student_budget,
     "Average Math Score": school_avg_math,
     "Average Reading Score": school_avg_read,
     "% Passing Math": school_per_math,
     "% Passing Reading": school_per_read,
     "% Overall Passing": school_per_over})

#Sorting the dataframe alphabetically by school name
school_summary_df.sort_values(by=["School Name"]).style.hide_index()

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [5]:
#Sorting the dataframe by overall pass rate
school_summary_df.sort_values(by=["% Overall Passing"], ascending=False).head().style.hide_index()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [6]:
#Sorting the dataframe by overall pass rate
school_summary_df.sort_values(by=["% Overall Passing"]).head().style.hide_index()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [10]:
#Copying the original dataframe
school_df2 = school_data_complete

#Creating empty lists for the math averages
frosh_list = []
soph_list = []
junior_list = []
senior_list = []

#Looping through dataframe by schools and grouping students by grade level
for school in school_list:
    frosh_df = school_df2[(school_df2["grade"]=="9th") & (school_df2["school_name"]==str(school))]
    frosh_list.append(frosh_df["math_score"].mean())
    soph_df = school_df2[(school_df2["grade"]=="10th") & (school_df2["school_name"]==str(school))]
    soph_list.append(soph_df["math_score"].mean())                        
    junior_df = school_df2[(school_df2["grade"]=="11th") & (school_df2["school_name"]==str(school))]
    junior_list.append(junior_df["math_score"].mean())
    senior_df = school_df2[(school_df2["grade"]=="12th") & (school_df2["school_name"]==str(school))]
    senior_list.append(senior_df["math_score"].mean())

#Creating a math summary frame using a dictionary of the grade level lists.
math_summary_df = pd.DataFrame(
    {"School Name": school_list,
    "9th": frosh_list,
    "10th": soph_list,
    "11th": junior_list,
    "12th": senior_list})

#Sorting the dataframe alphabetically by school name
math_summary_df.sort_values(by=["School Name"]).style.hide_index()

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [12]:
#Creating empty lists for the reading averages
frosh_list = []
soph_list = []
junior_list = []
senior_list = []

#Looping through dataframe by schools and grouping students by grade level
for school in school_list:
    frosh_df = school_df2[(school_df2["grade"]=="9th") & (school_df2["school_name"]==str(school))]
    frosh_list.append(frosh_df["reading_score"].mean())
    soph_df = school_df2[(school_df2["grade"]=="10th") & (school_df2["school_name"]==str(school))]
    soph_list.append(soph_df["reading_score"].mean())                        
    junior_df = school_df2[(school_df2["grade"]=="11th") & (school_df2["school_name"]==str(school))]
    junior_list.append(junior_df["reading_score"].mean())
    senior_df = school_df2[(school_df2["grade"]=="12th") & (school_df2["school_name"]==str(school))]
    senior_list.append(senior_df["reading_score"].mean())

#Creating a reading summary frame using a dictionary of the grade level lists.
math_summary_df = pd.DataFrame(
    {"School Name": school_list,
    "9th": frosh_list,
    "10th": soph_list,
    "11th": junior_list,
    "12th": senior_list})

#Sorting the dataframe alphabetically by school name
math_summary_df.sort_values(by=["School Name"]).style.hide_index()

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [15]:
#Copying the datafile
spending_df = school_data_complete

#Bucket List broken down by per pupil spending
bucket_list = ["<585", "$585-630", "630-645", "$645-680"]

#Creating empty lists for each variable
avg_math = []
avg_read = []
per_math = []
per_read = []
overall = []

#Creating subset dataframes for each spending category
low_df = spending_df[int("Per Student Budget")<586]

ValueError: invalid literal for int() with base 10: 'Per Student Budget'

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type